{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Firefox >= 20",
                        "Safari >= 6",
                        "Explorer >= 9",
                        "Chrome >= 12",
                        "ChromeAndroid >= 4.0",
                        "iOS >= 6"
                    ]
                }
            }
        ],
        "stage-2",
        "react"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime",
        [
            "styled-jsx/babel",
            {
              "plugins": [
                "styled-jsx-plugin-postcss"
              ]
            }
        ]
    ]
}