
.days-wrapper {
  text-align: center;
  max-width:450px;
  margin:0 auto;
  position: relative;

  .total-days {
    background-color: indigo;
    color: #fff;
    font-size:30px;
    padding:100px 0;
  }
  .powder-days {
    padding:50px 0;
    width:45%;
    float: left;
    text-align: left;
    font-size: 20px;
    color: cornflowerblue;
  }
  .back-days {
    width:45%;
    padding:50px 0;
    float: right;
    text-align: right;
    font-size: 20px;
    border: 1px solid greenyellow;
  }
  .goal {
    margin-top:200px;
  }
}
